header {
  background-color: var(--secondary-color);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 50;
  padding: var(--padding);
  height: 98px;

  figure {
    width: 12.5rem;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  nav {
    width: 100%;
    padding: 20px 0px;

    ul {
      list-style: none;

      a {
        display: inline-block;
        width: 100%;
        padding: 10px 20px;
        margin-bottom: 10px;
        text-align: center;
        background-color: transparent;
        border-radius: 10px;
        color: var(--test-color);
        text-decoration: none;
        transition: 0.5s;

        &:hover {
          background-color: var(--primary-color);
        }
      }
    }
  }

  .hamburger {
    margin-top: 10px;
    margin-right: 10px;

    div {
      width: 30px;
      height: 2px;
      background-color: var(--primary-color);
      margin: 5px 0;
    }
  }
}
