#hero {
    height: 100vh;
    background-image: url(../images/slider-01.jpg);
    background-size: cover;
    background-position: center center;
    background-color: #666;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

    h1 {
        font-family: var(--secondary-font);
        font-size: 70px;
        font-weight: bold;
    }

    h4 {
        font-size: 24px;
        margin: 20px 0px;
    }
}