* {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    font-size: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.5s;

    &:hover {
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }
}