:root {
  --primary-color: #d0a772;
  --secondary-color: #f8f9fa;
  --text-color: #666666;
  --primary-font: "Athiti", sans-serif;
  --secondary-font: "Arbutus Slab", serif;
  --padding: 16px;
  --gap: 1rem;
}
